@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  list-style: none;
  /* outline: 1px solid red; */
  
}

.App {
  background-color: #1E1E1E;
  -webkit-user-select: none;
  user-select: none;
}

/* Track */
::-webkit-scrollbar {
  width: 5px; /* Width of the entire scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #99ff00; /* Color of the scroll thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5acf00; /* Color of the scroll thumb on hover */
}
/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; /* Color of the track */
}

/* Button */
::-webkit-scrollbar-button {
  display: none; /* Hide scrollbar buttons */
}

/* Corner */
::-webkit-scrollbar-corner {
  background: transparent; /* Color of the scrollbar corner */
}

