.scroll-container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .horizontal-scroll {
      overflow-x: scroll; // Enables horizontal scrolling
      white-space: nowrap; // Prevents items from wrapping to the next line
      width: 100%;
  
      // Hide scrollbar for Webkit-based browsers (e.g., Chrome, Safari)
      &::-webkit-scrollbar {
        display: none;
      }
  
      // Hide scrollbar for other browsers
      -ms-overflow-style: none;  // IE and Edge
      scrollbar-width: none;  // Firefox
  
      .scroll-list {
        display: flex; // Creates a flex container for horizontal alignment
        margin: 0;
        padding: 0;
        list-style: none; // Removes default list styling
  
        .scroll-item {
          display: inline-block; // Ensures items are inline
          padding: 10px;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          .item-image {
            width: 300px;
            height: 170px;
            display: block;
            margin: 0 auto 10px auto;
          }
  
          .item-title {
            margin: 0;
            font-size: 16px;
            color: #ffffff;
          }
        }
      }
    }
  }
  